p{
	padding: 10px;
	margin: 20px;
	text-align: justify;
	font-size: 20px;
}

h1{
	padding: 10px;
	margin: 20px;
	text-align: justify;
}

img{
	margin: 0 auto;
    display: block;
    width: 100%;
	height: auto;
}

body {
	
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #D8D8D8;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
	color: #FFFFFF;
}

.container{
	width: 70%;
	background-color: #FFFFFF;

}

#cont2{
	background-color: #D8D8D8;
	padding-left: 0px;
	padding-right: 0px;

}

nav{
	font-size: 20px;
}



.navbar-default .navbar-brand{
	font-family: 'Calligraffitti', cursive;
	font-size: 30px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	color: black;
}


.navbar-default .navbar-brand:hover {
    -webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	color: black;
}


.navbar-default .navbar-nav>li>a {
 
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: black;   
}

#contenido{
	padding: 0px;
}

#cuadros{
	font-size: 18px;
	padding: 40px;
	line-height: 1.5;
	text-align: justify;
}

#cuadros h3{

	color:#6E6E6E;
}


#cuadros:hover{
	background-color: #FFFF00;
}

footer{

	padding-top: 50px;
	text-align: center;
	font-size: 18px;

}

.seccion-ppal h1 a{
	color: black;

}
